<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>604385937811-l7ialgsh2pp7f1vurnv63153ncgpig4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.604385937811-l7ialgsh2pp7f1vurnv63153ncgpig4f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>604385937811-438p8u65jg763pkbhhf3h53071j852ff.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAHbwM-ABrEbZJsYRAvvI8k7TdYd4A_ZZA</string>
	<key>GCM_SENDER_ID</key>
	<string>604385937811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.malbork.envi.app.user.qa</string>
	<key>PROJECT_ID</key>
	<string>envi-user</string>
	<key>STORAGE_BUCKET</key>
	<string>envi-user.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:604385937811:ios:a5932bc3ceeb1695dbc066</string>
	<key>DATABASE_URL</key>
	<string>https://envi-user.firebaseio.com</string>
</dict>
</plist>