<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056599993557-ncnghb2cmgun7emtqk7e595fjsveq1rk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056599993557-ncnghb2cmgun7emtqk7e595fjsveq1rk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1056599993557-010f7lk55d2mo478vtuek7290u12h03o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA3qni3Zo6_lN5m5pNjEo7vHP5tzIc6NEo</string>
	<key>GCM_SENDER_ID</key>
	<string>1056599993557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.malbork.envi.app.user</string>
	<key>PROJECT_ID</key>
	<string>ecabdev-75760</string>
	<key>STORAGE_BUCKET</key>
	<string>ecabdev-75760.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056599993557:ios:f8527dbb9d99d87a65c65c</string>
	<key>DATABASE_URL</key>
	<string>https://ecabdev-75760.firebaseio.com</string>
</dict>
</plist>